.git
.vercel
.env
.env.*
node_modules
**/node_modules
dist
**/dist
.next
**/.next
logs
**/*.log
coverage
**/coverage
infrastructure/terraform/.terraform
infrastructure/terraform/tfplan
infra/aws/*.tar.gz
*.tgz
*.tar.gz
